<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<style>
    .header-body {
        background-color: #09929f;
        margin: 0px;
        padding: 20px;
        color: #fff;
        width: 100%;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        font-weight: 500;
        text-align: center;
        font: bold 30px Georgia;
    }
</style>
</head>
<body>

<header>
    <h3 class="header-body">Welcome To Shopping Clues
        <div class="dropdown"  style="float: right; margin-right: 100px;">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><img src="/images/setting.png" /> </button>
            <ul class="dropdown-menu " >
                <li><a href="#">CheckOut</a></li>
                <li><a href="/productlist">Shop More</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div></h3>
</header>




<div  style="width: 50% ;margin-top: 50px" class="container ">

    <% for( var i = 0;i < productlist.length;i++) { %>

    <div class="col-sm-6 "style="margin-top: 10px">
        <img class=" product-pic" src="/Upload/Product/<%=productlist[i].productPhoto[0]%>" alt="Card image" >
        <div class="">
            <h4 class=""><%= productlist[i].productName %></h4>
            <p class="">Price:<%= productlist[i].productPrice %>
                <br/>Number of Quantities: <%=qty[i] %></p>
            <!--<button class="btn btn-primary" style="margin-top: 5px;" id="<%= productlist[i]._id %>"
                    onclick="remove(this.id)">Remove from cart
            </button>-->
        </div>
    </div>


    <% } %>

</div>

</div>
<script>
/* ye ajax ke through complete krna hai
    data={}
    $.ajax({
        type: 'POST',
        contentType: 'application/json',
        url: '/viewcart',
        data: JSON.stringify(data),
        success:function (response) {
            var middle="";
            middle+='<div  style="width: 50% ;margin-top: 50px" class="container ">';
            for( var i = 0;i < response.productlist.length;i++) {
                middle+='<div class="col-sm-6 "style="margin-top: 10px">' +
                    '<img class=" product-pic" src="/Upload/Product/'+response.productlist[i].productPhoto[0]+' alt="Card image" >' +
                    '<div class=""><h4 class="">'+ response.productlist[i].productName+'</h4>' +
                    '<p class="">Price:'+response.productlist[i].productPrice +'<br/>Number of Quantities: '+response.qty[i] +'</p>' +
                    '<button class="btn btn-primary" style="margin-top: 5px;" id="'+ response.productlist[i]._id +'"' +
                    'onclick="remove(this.id)">Remove from cart</button> </div></div>'
            }
            middle+='</div>'

        },
        error:function (response) {
            alert('Something went Wrong');
        }
    })
    function remove(id) {
        var res = confirm("Do You want to remove this from from cart?");
        if (res == true) {
            data = {username: '<%= username %>', id: id};
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                url: '/removefromcart',
                success: function (response) {
                    window.location.replace('/viewcart');
                },
                error: function (response) {
                    alert('Something went wrong');
                }
            })
        }
        else {
            window.location.replace('/viewcart');
        }
    }*/
</script>

</body>
</html>